blinky-lite-ui/flows.json
[
    {
        "id": "a7b9d689.b8a5e8",
        "type": "tab",
        "label": "vectorDeviceArchivePlotter",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Chill Detector",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a77ab212.bfa86",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "blinky-lite",
        "name": "mongodb"
    },
    {
        "id": "3c1c519e.83272e",
        "type": "websocket-listener",
        "z": "",
        "path": "/app/websocket",
        "wholemsg": "false"
    },
    {
        "id": "a1d149c8.df9b88",
        "type": "http in",
        "z": "a7b9d689.b8a5e8",
        "name": "HTTP GET",
        "url": "/app",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 40,
        "wires": [
            [
                "76ead788.0e2c98"
            ]
        ]
    },
    {
        "id": "bb0d6c04.0770f",
        "type": "template",
        "z": "a7b9d689.b8a5e8",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <link rel=\"icon\" href=\"/img/favicon.ico?v=3\" type=\"image/x-icon\">\n    <title>Vector Archive Plotter</title>\n    <link rel=\"stylesheet\" href=\"/css/bootstrap.css\">\n    <link rel=\"stylesheet\" href=\"/css/fontAwesome.css\">\n    <link rel=\"stylesheet\" href=\"/jquery/jquery-ui.css\">\n    <link rel=\"stylesheet\" href=\"/jquery/jquery-ui-timepicker-addon.css\">\n    <script src=\"/jquery/jquery.js\"></script>\n    <script src=\"/jquery/jquery-ui.js\"></script>\n    <script src=\"/jquery/jquery-ui-timepicker-addon.js\"></script>\n    <script src=\"/scripts/plotly-latest.min.js\"></script>\n    <script src=\"/scripts/visDist/vis.js\"></script>\n    <link rel=\"stylesheet\" href=\"/css/app.css\">\n    <script src=\"/scripts/app.js\"></script>\n  </head>\n  <body>\n    {{{payload.navBar}}}\n    {{{payload.systemSelect}}}\n    {{{payload.plotSetup}}}\n    <script src=\"/scripts/popper.js\"></script>\n    <script src=\"/scripts/bootstrap.js\"></script>\n  </body>\n</html>",
        "output": "str",
        "x": 710,
        "y": 40,
        "wires": [
            [
                "6b7d5262.946b9c"
            ]
        ]
    },
    {
        "id": "6b7d5262.946b9c",
        "type": "http response",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 40,
        "wires": []
    },
    {
        "id": "1c59d82a.896018",
        "type": "websocket in",
        "z": "a7b9d689.b8a5e8",
        "name": "Socket In",
        "server": "3c1c519e.83272e",
        "client": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "5660e69.e917918"
            ]
        ]
    },
    {
        "id": "aa9750ce.f38ed",
        "type": "websocket out",
        "z": "a7b9d689.b8a5e8",
        "name": "Socket Out",
        "server": "3c1c519e.83272e",
        "client": "",
        "x": 1330,
        "y": 340,
        "wires": []
    },
    {
        "id": "5660e69.e917918",
        "type": "json",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "36df735b.77b3dc"
            ]
        ]
    },
    {
        "id": "36df735b.77b3dc",
        "type": "switch",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "property": "payload.topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "getDevSystem",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getDevArchive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "27f42edd.fab892"
            ],
            [
                "71f88bbe.d01444"
            ]
        ]
    },
    {
        "id": "6e4a6efd.c2022",
        "type": "mongodb in",
        "z": "a7b9d689.b8a5e8",
        "mongodb": "a77ab212.bfa86",
        "name": "Find in device db",
        "collection": "devices",
        "operation": "find",
        "x": 790,
        "y": 180,
        "wires": [
            [
                "e285da1.6e02e28"
            ]
        ]
    },
    {
        "id": "27f42edd.fab892",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Find system",
        "func": "var newMsg = \n{\n    topic           : msg.payload.topic,\n    system          : msg.payload.system,\n    userID          : msg.payload.userID,\n    plotDevice      : msg.payload.plotDevice,\n    sysSelectIndex  : msg.payload.sysSelectIndex,\n    payload         : msg.payload.payload,\n    projection      : {}\n};\nnewMsg.projection[msg.payload.system] = 1;\nnewMsg.projection['status'] = 1;\nnewMsg.projection['type'] = 1;\nnewMsg.projection['_id'] = 0;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "6e4a6efd.c2022"
            ]
        ]
    },
    {
        "id": "fa44db0f.a97ee8",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "parse system list",
        "func": "var sysArray = [];\nvar sysCounter = 0;\nfor (var idevice = 0; idevice < msg.payload.length; ++idevice)\n{\n    if (msg.payload[idevice]['type'] == 'vector')\n    {\n        var ideviceFound = false;\n        for (var isys = 0; isys < sysCounter; ++isys)\n        {\n            if (msg.payload[idevice][msg.system] == sysArray[isys])\n            {\n                ideviceFound = true;\n            }\n        }\n        if (!ideviceFound)\n        {\n           sysArray[sysCounter] =  msg.payload[idevice][msg.system];\n            ++sysCounter;\n        }\n    }\n}\nreturn {\n    topic:'loadSystem',\n    payload:{\n        system          : msg.system,\n        topic           : 'loadSystem',\n        payload         : sysArray,\n        userID          : msg.userID,\n        plotDevice      : msg.plotDevice,\n        sysSelectIndex  : msg.sysSelectIndex,\n\n    }\n};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 300,
        "wires": [
            [
                "aa9750ce.f38ed"
            ]
        ]
    },
    {
        "id": "e285da1.6e02e28",
        "type": "switch",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "getDevSystem",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getDevArchive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "fa44db0f.a97ee8"
            ],
            [
                "9ed224c1.dd9228"
            ]
        ]
    },
    {
        "id": "b24507d5.499a58",
        "type": "mongodb in",
        "z": "a7b9d689.b8a5e8",
        "mongodb": "a77ab212.bfa86",
        "name": "Find in archiver",
        "collection": "archiver",
        "operation": "find",
        "x": 960,
        "y": 360,
        "wires": [
            [
                "d2bf69c9.2bad58"
            ]
        ]
    },
    {
        "id": "71f88bbe.d01444",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Get device_id for Archive",
        "func": "var newMsg = \n{\n    topic           : msg.payload.topic,\n    userID          : msg.payload.userID,\n    plotDevice      : msg.payload.plotDevice,\n    payload         : msg.payload.payload,\n    startTime       : msg.payload.startTime,\n    stopTime        : msg.payload.stopTime,\n    projection      : {}\n};\nnewMsg.projection['status'] = 1;\nnewMsg.projection['_id'] = 1;\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 200,
        "wires": [
            [
                "6e4a6efd.c2022"
            ]
        ]
    },
    {
        "id": "9ed224c1.dd9228",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "find in archiver",
        "func": "var newMsg = \n{\n    topic           : msg.topic,\n    userID          : msg.userID,\n    plotDevice      : msg.plotDevice,\n    payload         : \n    {\n        time    :   {'$gt': msg.startTime, '$lt': msg.stopTime},\n        device_id   :   msg.payload[0]._id\n    },\n    startTime       : msg.startTime,\n    stopTime        : msg.stopTime,\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 360,
        "wires": [
            [
                "b24507d5.499a58"
            ]
        ]
    },
    {
        "id": "d2bf69c9.2bad58",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "putDevArchive",
        "func": "var data = [];\nvar npts = msg.payload.length;\nvar step = 1;\nfor (var ii = 0; ii < npts; ++ii)\n{\n    var ipt = Math.round(ii * step);\n    data[ii] = \n    {\n        value   : msg.payload[ipt].value, \n        time    : msg.payload[ipt].time\n    }\n}\nreturn {\n    topic:'putDevArchive',\n    payload:{\n        topic           : 'putDevArchive',\n        payload         : data,\n        userID          : msg.userID,\n        plotDevice      : msg.plotDevice\n\n    }\n};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1160,
        "y": 360,
        "wires": [
            [
                "aa9750ce.f38ed"
            ]
        ]
    },
    {
        "id": "b1f29722.e81d28",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Test Find device",
        "func": "var newMsg = \n{\n    topic           : 'test',\n    userID          : 1234,\n    plotDevice      : 1,\n    payload         : \n    {\n        sys01   : \"R3\",\n        sys02   : \"rfroom\",\n        sys03   : \"02\",\n        sys04   : \"diag\",\n        device  : \"oo\",\n        attr    : \"phaseShift\",\n        prop    : \"reading\",\n    },\n/*\n    projection      : \n    {\n        value           :   1,\n        time            :   1,\n        type            :   1,\n        archive_period  :   1,\n        status          :   1,\n        _id             :   0\n    }\n*/\n};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 460,
        "wires": [
            [
                "51a62b7b.5e44e4"
            ]
        ]
    },
    {
        "id": "51a62b7b.5e44e4",
        "type": "mongodb in",
        "z": "a7b9d689.b8a5e8",
        "mongodb": "a77ab212.bfa86",
        "name": "Find in device db",
        "collection": "devices",
        "operation": "find",
        "x": 610,
        "y": 460,
        "wires": [
            [
                "80a4b780.ff5198"
            ]
        ]
    },
    {
        "id": "80a4b780.ff5198",
        "type": "debug",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "d6c7248e.e671c8",
        "type": "inject",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 460,
        "wires": [
            [
                "b1f29722.e81d28"
            ]
        ]
    },
    {
        "id": "47ff9adb.808a04",
        "type": "template",
        "z": "a7b9d689.b8a5e8",
        "name": "systemSelect",
        "field": "payload.systemSelect",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<div width=\"100%\">\n    <table width=\"100%\">\n        <tr>\n            <td width=\"2%\" align=\"center\"><span class=\"tableHeading\">Tr</span></td>\n            <td width=\"12%\" align=\"center\"><span class=\"tableHeading\">sys01</span></td>\n            <td width=\"12%\" align=\"center\"><span class=\"tableHeading\">sys02</span></td>\n            <td width=\"12%\" align=\"center\"><span class=\"tableHeading\">sys03</span></td>\n            <td width=\"12%\" align=\"center\"><span class=\"tableHeading\">sys04</span></td>\n            <td width=\"12%\" align=\"center\"><span class=\"tableHeading\">device</span></td>\n            <td width=\"12%\" align=\"center\"><span class=\"tableHeading\">attr</span></td>\n            <td width=\"12%\" align=\"center\"><span class=\"tableHeading\">prop</span></td>\n        </tr>\n        <tr>\n            <td align=\"center\">\n                <a id='csv0', href='' target='_blank' download=\"data0.csv\" class=\"csv-linked\">1</a>\n            </td>\n            <td>\n                <select class=\"custom-select\" id=\"sysSelect_0_0\" onchange=\"sysSelected(0,0)\">\n                    <option value='notSelected'></option>\n                </select>\n            </td>\n            <td>\n                <select class=\"custom-select\" id=\"sysSelect_0_1\" onchange=\"sysSelected(0,1)\">\n                    <option value='notSelected'></option>\n                </select>\n            </td>\n            <td>\n                <select class=\"custom-select\" id=\"sysSelect_0_2\" onchange=\"sysSelected(0,2)\">\n                    <option value='notSelected'></option>\n                </select>\n            </td>\n            <td>\n                <select class=\"custom-select\" id=\"sysSelect_0_3\" onchange=\"sysSelected(0,3)\">\n                    <option value='notSelected'></option>\n                </select>\n            </td>\n            <td>\n                <select class=\"custom-select\" id=\"sysSelect_0_4\" onchange=\"sysSelected(0,4)\">\n                    <option value='notSelected'></option>\n                </select>\n            </td>\n            <td>\n                <select class=\"custom-select\" id=\"sysSelect_0_5\" onchange=\"sysSelected(0,5)\">\n                    <option value='notSelected'></option>\n                </select>\n            </td>\n            <td>\n                <select class=\"custom-select\" id=\"sysSelect_0_6\" onchange=\"sysSelected(0,6)\">\n                    <option value='notSelected'></option>\n                </select>\n            </td>\n        </tr>\n    </table>\n</div>\n",
        "output": "str",
        "x": 390,
        "y": 40,
        "wires": [
            [
                "2c907039.47dfb"
            ]
        ]
    },
    {
        "id": "76ead788.0e2c98",
        "type": "template",
        "z": "a7b9d689.b8a5e8",
        "name": "navBar",
        "field": "payload.navBar",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<div class=\"jumbotron\" width=\"100%\">\n  <div class=\"row\">\n    <div class=\"col-md-2\"></div>\n    <div class=\"col-md-8\" style=\"text-align: center\">\n      <h1 class=\"display-5 jumbotron-title\">Vector Archive Plotter</h1>\n    </div>\n    <div class=\"col-md-2\" style=\"text-align: right\"><img src=\"/img/BlinkyLogo.gif\" height=\"50px\"/></div>\n  </div>\n</div>\n",
        "output": "str",
        "x": 240,
        "y": 40,
        "wires": [
            [
                "47ff9adb.808a04"
            ]
        ]
    },
    {
        "id": "2c907039.47dfb",
        "type": "template",
        "z": "a7b9d689.b8a5e8",
        "name": "plotSetup",
        "field": "payload.plotSetup",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<div id='plotSetup'>\n    <div class='row'>\n        <div class='col-md-12'>\n            <table id='plotSetupTable'>\n                <tr>\n                    <td width=10% align=\"center\" class=\"tableHeading\">Max Plot Pts</td>\n                    <td width=20% align=\"center\" class=\"tableHeading\">Start</td>\n                    <td width=20% align=\"center\" class=\"tableHeading\">Stop</td>\n                    <td width=10% align=\"center\"></td>\n                </tr>\n                <tr>\n                    <td align=\"center\">\n                        <input class=\"form-control\" id=\"maxPtsToPlot\" type=\"text\" value=\"200\"/>\n                    </td>\n                    <td align=\"center\">\n                        <input class=\"form-control\" id=\"startDate\" type=\"text\"/>\n                    </td>\n                    <td align=\"center\">\n                        <input class=\"form-control\" id=\"stopDate\" type=\"text\"/>\n                    </td>\n                    <td align=\"center\">\n                        <button width=100% class=\"btn jumbotron-button\" id=\"getDataButton\" type=\"button\" onclick=\"getArchiveData()\">Get Data</button>\n                    </td>\n                </tr>\n            </table>\n        </div>\n   </div>\n    <div class='row'>\n        <div class='col-md-12'>\n            <div id=\"timePlot\" width=\"100%\" class=\"plot\"></div>\n        </div>\n    </div>\n</div>\n",
        "output": "str",
        "x": 560,
        "y": 40,
        "wires": [
            [
                "bb0d6c04.0770f"
            ]
        ]
    },
    {
        "id": "941e8858.e22318",
        "type": "mongodb out",
        "z": "a7b9d689.b8a5e8",
        "mongodb": "a77ab212.bfa86",
        "name": "Remove",
        "collection": "devices",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "f5d2a87e.b6ea58",
        "type": "debug",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 950,
        "y": 260,
        "wires": []
    }
]